// Bootstrap
    @import 'node_modules/bootstrap/scss/bootstrap';
    @import './mediaquery.scss';

// GENERAL
main, footer, .links, .userLog {
    font-family: 'Montserrat', sans-serif;
}

 // ALL COLORS
 :root {
  --title-color: #274c77;
  --link-color: #020758;
  --description-color: #274c77;
  --bg-color: #e7ecef;
}