// Bootstrap
    @import 'node_modules/bootstrap/scss/bootstrap';

// GENERAL
* {
    font-family: 'Roboto', sans-serif;
    transition: 0.25s all;
    scroll-margin: 100px;
}

// SWIPER
.swiper-button-next,
.swiper-button-prev {
  color: #ff385c !important;
  background-color: white !important;
}
  // ALL COLORS
:root {
  --title-color: #4F5559;
  --link-color: #A62626;
  --description-color: #81878C;
  --bg-color: #F2F2F2;
}