// Bootstrap
    @import 'node_modules/bootstrap/scss/bootstrap';
    @import './mediaquery.scss';

// GENERAL
main, footer, .links, .login {
    font-family: 'Montserrat', sans-serif;
    transition: 0.25s all;
    scroll-margin: 100px;
}

.logo {
  font-family: 'Mr Dafoe', cursive;
  font-size: 2.5rem;
}

 // ALL COLORS
 :root {
  --title-color: #4F5559;
  --link-color: #A62626;
  --description-color: #81878C;
  --bg-color: rgb(50, 50, 50);
}

// SWIPER
.swiper-button-next,
.swiper-button-prev {
  color: var(--link-color) !important;
  background-color: white !important;
}