// APPHEADER
@media screen and (max-width: 1199px) {
    .my-header li a, .link, .link-two{
        font-size: 0.7rem;
        padding: 0;
    }
    .my-header li {
        display: flex !important;
        align-items: center !important;
    }
    
    .logo-boolbnb {
        font-size: 40px !important;
      }
}

@media screen and (max-width: 768px) {
    .my-header ul, .login {
        display: none !important;
    }

    .hamburger-menu{
        display: block !important;
    }
}

// APPHOME
@media screen and (max-width: 1199px) {
    .jumbotron{
        background-position: center;
    }
    .mainTitle{
        font-size: 2.3rem !important;
    }
    .searchBox{
        width: 40% !important;
    }
}

@media screen and (max-width: 768px) {
    .searchBox{
        width: 50% !important;
    }
}

// APPFOOTER
@media screen and (max-width: 1199px) {
    footer .col-8{
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    footer{
        padding: 10px 0 !important;
    }

    .container-fluid > div{
        display: block !important;
        text-align: center;
    }

    .copy, .len{
        margin: 30px 0;
    }
}

@media screen and (max-width: 576px) {
    footer *{
        text-align: center;
        font-size: 0.9em;
    }
}